<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <div class="large-12 columns">
    <%= form_for(:session, url: login_path) do |f| %>


      <%= f.email_field :email, class: 'form-control' %>

 
      <%= f.password_field :password, class: 'form-control' %>
      <%= link_to "(forgot password)", new_password_reset_path %>

       <%= f.label :remember_me do %>
        <%= f.check_box :remember_me %>
      <% end %>

      <%= f.submit "Log in" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>