<% provide(:title, 'Reset password') %>
<h1>Reset password</h1>

<div class="row">
  <div class="large-12 columns">
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>

      <%= hidden_field_tag :email, @user.email %>

      <%= f.label :password %>
      <%= f.password_field :password  %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation  %>

      <%= f.submit "Update password" %>
    <% end %>
  </div>
</div>