<% provide(:title, "Edit user") %>


<div class="row">
  <div class="large-12 columns">
  <h2>Update your profile</h2>
    <%= form_for(@user) do |f| %>

      <%= f.text_field :first_name, class: 'form-control' %>
      <%= f.text_field :last_name, class: 'form-control' %>

  
      <%= f.email_field :email, class: 'form-control' %>

  
      <%= f.password_field :password, class: 'form-control' %>

      
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
  </div>
</div>