<% provide(:title, 'All users') %>
<h1>All users</h1>
<%= will_paginate @users, renderer: FoundationPagination::Rails %>
<ul class="users">
  <%= render @users %>
</ul>
<%= will_paginate @users, renderer: FoundationPagination::Rails %>