<% provide(:title, 'Sign up') %>


<div class="row">
  <div class="large-12 columns">
    <h1>Sign up</h1>
    <%= form_for(@user) do |f| %>
      <%= f.text_field :first_name %>

      
      <%= f.text_field :last_name %>

    
      <%= f.email_field :email %>

      
      <%= f.password_field :password %>

      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account"%>
    <% end %>
  </div>
</div>