<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @item.subtitle %>
</p>

<p>
  <strong>Ean code:</strong>
  <%= @item.ean_code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @item.synopsis %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @item.creator %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @item.rating %>
</p>

<p>
  <strong>Genres:</strong>
  <%= @item.genres %>
</p>

<p>
  <strong>Sold by:</strong>
  <%= @item.sold_by %>
</p>

<p>
  <strong>Features:</strong>
  <%= @item.features %>
</p>

<p>
  <strong>Format:</strong>
  <%= @item.format %>
</p>

<p>
  <strong>Retail price:</strong>
  <%= @item.retail_price %>
</p>

<p>
  <strong>Warranty:</strong>
  <%= @item.warranty %>
</p>

<p>
  <strong>Date of purchase:</strong>
  <%= @item.date_of_purchase %>
</p>

<p>
  <strong>Length:</strong>
  <%= @item.length %>
</p>

<p>
  <strong>Width:</strong>
  <%= @item.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @item.height %>
</p>

<p>
  <strong>Amazon link:</strong>
  <%= @item.amazon_link %>
</p>

<p>
  <strong>Country:</strong>
  <%= @item.country %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @item.image.url(:medium) %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
