<% if logged_in? %>
  <li><%= link_to "Users", users_path %></li>
  <li class="has-dropdown">
    <a href="#">Account</a>
    <ul class="dropdown">
      <li>   <%= link_to "Profile", current_user %></li>
      <li><%= link_to "Settings", edit_user_path(current_user) %></li>
      <li class="divider"></li>
      <li>    <%= link_to "Log out", logout_path, method: "delete" %></li>
    </ul>
  </li>
<% else %>
  <li>  <%= link_to "Log in", login_path %></li>
<% end %>

